*, *:before, *:after {
    box-sizing: border-box;
}

.active {
    text-decoration: underline;
}

header {
    height:60px;
    width:100%;
    background: #eee;
}

header div {
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header div a {
    text-decoration: none;
    text-transform: uppercase;
    margin:20px;
}

header div a:hover {
    background: red;
}

#newsletter-wrapper {
    margin-top: 50px;
    margin-left: 20px;
}

#successMessage {
    display:none;
}

.error {
    padding: 10px;
    color: crimson;
    border: 3px, dotted, crimson;
}

.success {
    padding: 10px;
    color: limegreen;
    border: 3px, dotted, limegreen;
}