*, *:before, *:after {
    box-sizing: border-box;
}

.active {
    text-decoration: underline;
}

header {
    height:60px;
    width:100%;
    background: #eee;
}

header div {
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header div a {
    text-decoration: none;
    text-transform: uppercase;
}

#newsletter-wrapper {
    margin-top: 50px;
    margin-left: 20px;
}

#successMessage {
    display:none;
}